
 <%- include("header") -%>

<h2>This is the about page</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed sed magna sapien. Nullam porttitor turpis vitae enim imperdiet, nec viverra ex luctus. </p>

 <%- include("footer") -%>
